body{
    background-image: url("../images/cat4.jpg");
    background-size:cover; 
}

h1{
    color: darkgoldenrod;
    border: 5px solid yellow;
    text-align: center;
    padding: 10px;
    margin:0 auto;  
    width: 800px;
    font-family: 'Poppins', sans-serif;
}