body{
    background: url("../images/gym.jpg") no-repeat center center fixed ;
    background-size: cover;
}

div{
    background-color: gray;
    text-align: center;
    border: 5px black solid;
    opacity: 0.6;
    width: 400px;
    height: 400px;
    margin: 100px auto;
    border-radius: 8%;
}
i{
    font-size: 80px;
    margin-top: 25px;
}
h1{
    font-size: 40px;
}
p{
    font-style: italic;
    font-size: 20px;
}
.number{
    
}