body{
	background: url("../images/p7.png") no-repeat center center fixed;
	background-size: cover;
}
div{
	height: 400px;
	/*text-align: center;*/
	margin: 0px;
	padding: 0;
	
}

.one{
	/*background-color: olive;*/
	height:600px;
	margin: 0px;
	padding: 0;
	top:0px;
	
}

ul{
	overflow: hidden;
	text-decoration: none;
}
li a{
	color:black;
	text-decoration: none;
	text-align: center;
}
li{
	display:block;
	float: right;
	padding: 15px 25px;
	border: 1px solid darkgoldenrod;
	border-radius: 50px;
	background-color:darkgoldenrod;
	margin-left: 1px;
}
.two{
	
}
h1{
	font-family: 'Great Vibes', cursive;
	font-size: 150px;
	left: 50px;
	margin-left: 60px;
	margin-bottom: 0px;
	padding-bottom: 0pc;

	color:#301c16;
}
p{
	font-size: 50px;
	margin-top: 0px;
	margin-left: 150px;
}
i{
	bottom: 50px;
	font-size: 70px;
	color:#442623;
}
.about{
	margin-left: 0px;
	color: darkgoldenrod;
	font-family: cursive;
	font-size: 35px;
	text-align: center
}