body{
	background: url("../images/2.jpg")  no-repeat center center fixed ;
    background-size: cover;
	opacity: 0.8;
	height: 890;
}
.upper{

	margin: 0 auto;
	max-width: 800px;
	height: 850px;
	background-color: #ccc;
	border-radius: 3px;
	overflow: auto;
	position: absolute;
	margin: 0 auto;
	top: 20;
	right: 0;
	bottom: 0;
	left: 0;
	
	border: 5px black solid;
	
	text-align: center;
	
  /*
	height: auto;
	align-self: center;
	align-items: center;
	text-align: center;
	align-content: center;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	
	position: absolute;
	margin: 0 auto;
  top: 20;
  right: 0;
  bottom: 20;
  left: 0; */
}

table{
	align-self: center;
	margin: 0 auto;
}

.fieldset-auto-width {
         display: inline-block;
    }

@media 
only screen and (max-width: 600px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	#text{
		max-width: 100%;
		height: auto;
		border: 1px solid grey;
	}
	#email{
		width: 50px;
	}
	