body{
	height: 100%;
}
video{
	position: fixed;
	/*top: 50%;
	left: 50%;
	margin-top: -50%;
	margin-left: -50%;*/
	z-index: 1;
	right:0;
	bottom:0;
	min-height:100%;
	min-width:100%;
	opacity:0.65;
	
}
div{
	position: relative;
	z-index: 2;
	border: 2px solid orange;
	text-align: center;
	width: 600px;
	height: 50px;
	margin: 50px auto;
	font-family: cursive;
	font-size: 50px;
	background-color: yellow;
	opacity: 0.6;
	border-radius: 5%;
	padding-bottom: 20px ;
}
p{
	position: relative;
	z-index: 2;
	font-size: 30px;
	font-style: italic;
	color:darkmagenta;
	margin-top: 5px;
}
i{
	position: relative;
	z-index: 2;
	
	
}
h1{
	text-align: center;
	height: 50px;
	margin-top: 200px;
	font-size: 100px;
	color:darkmagenta;
}